.card-album {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;

    border: 2px solid #376812;
    border-radius: 10px;
}
.card-album:hover {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;

    border: 2px solid #376812;
    border-radius: 10px;
    background-color:  #DFF6D9 ;
}

.card-album__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
}

.card-album__title {
    color: #376812;
}